body {
	margin: 0px;
	background-color: white;
	font-family:  Arial, sans-serif;
}
#menu {
	float: left;
	width: 150px;
	height: 200px;
	margin-right: 20px;
	padding-top: 10px;
	background-color: #ffcc00;
}
#menu ul {
	list-style: none;
	margin: 0px; 	
	padding: 10px;
}
#menu li {
	padding: 5px;
}
#inhalt {
 	float: left;
 	width: 600px;
	background-color: #ffffc6;
	padding-left: 10px;
	padding-bottom: 20px;
}
